<!doctype html>
<html lang="zh-cn">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="author" content="Pioooooo">
    <title>{{ curSide }} · Ticket System</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='/image/favicon.ico') }}">
    <link href="{{ url_for('static', filename='/css/bootstrap.min.css') }}" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static',filename='css/feather.css') }}">

    <style>
        html {
            position: relative;
            min-height: 100%;
        }

        body {
            margin-top: 56px;
            margin-bottom: 60px;
        }

        .footer {
            position: absolute;
            bottom: 0;
            width: 100%;
            height: 60px;
            line-height: 60px;
            background-color: #f5f5f5;
        }

        .collapsing.width {
            width: 0;
            height: auto;
            transition: width 0.35s ease;
        }
    </style>

    {% block head %}{% endblock %}
</head>

<body>
<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
    <a class="navbar-brand" href="/">Ticket System</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarContent">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item {% if curSide == "首页" %}active{% endif %}">
                <a class="nav-link" href="/">首页</a>
            </li>
            <li class="nav-item {% if curSide == "管理" %}active{% endif %}">
                <a class="nav-link" href="/manage">管理</a>
            </li>
            <li class="nav-item {% if curSide == "订单" %}active{% endif %}">
                <a class="nav-link" href="/order">订单</a>
            </li>
            <li class="nav-item dropdown {% if curSide == "账户" %}active{% endif %}">
                <a class="nav-link dropdown-toggle" id="tabName" data-toggle="dropdown">{{ info["name"] }}</a>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="/account">账户资料</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" id="buttonLogout">登出</a>
                </div>
            </li>
        </ul>
    </div>
</nav>

<main class="container">
    {% block content %}{% endblock %}
    <div class="modal fade" id="modalMessage">
        <div class="modal-dialog" id="modalDialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="titleMessage">通知</h5>
                    <button type="button" class="close" data-dismiss="modal">
                        <span>&times;</span>
                    </button>
                </div>
                <div id="textMessage"></div>
                <div class="modal-footer text-center">
                    <button type="button" class="btn btn-primary" data-dismiss="modal">确认</button>
                </div>
            </div>
        </div>
    </div>
    <div class="col-2" style="position: absolute; top: 70px; right: 0;" id="divToasts"></div>
</main>

<footer class="footer">
    <div class="container" style="text-align: center">
        <span class="text-muted">Ticket System &copy; 2020 Powered by 心に焼き付けて, Piooooo, stneng.</span>
    </div>
</footer>

</body>
<script src="{{ url_for('static', filename='/js/jquery-3.5.1.min.js') }}"></script>
<script src="{{ url_for('static', filename='/js/bootstrap.bundle.min.js') }}"></script>
<script>
    function showMessage(html, title = "通知", classname = "") {
        let modal = $("#modalMessage");
        modal.modal("hide");
        $("#titleMessage").html(title);
        $("#modalDialog").prop("class", `modal-dialog ${classname}`);
        $("#textMessage").html(html);
        modal.modal("show");
    }

    function showInfo(html, title = "Ticket System") {
        let box = $("#divToasts");
        box.append(`<div class="toast" id="toastInfo" data-delay="2000">` +
            `<div class="toast-header"><strong class="mr-auto">${title}</strong>` +
            `<button type="button" class="ml-2 mb-1 close" data-dismiss="toast"><span>&times;</span></button></div>` +
            `<div class="toast-body">${html}</div></div>`);
        box.children().last().toast("show");
    }

    $(function () {
        $.fn.inputFilter = function (inputFilter) {
            return this.on("input keydown keyup mousedown mouseup select contextmenu drop", function () {
                if (inputFilter(this.value)) {
                    this.oldValue = this.value;
                    this.oldSelectionStart = this.selectionStart;
                    this.oldSelectionEnd = this.selectionEnd;
                } else if (this.hasOwnProperty("oldValue")) {
                    this.value = this.oldValue;
                    this.setSelectionRange(this.oldSelectionStart, this.oldSelectionEnd);
                } else {
                    this.value = "";
                }
            });
        };
        $.fn.inputSync = function () {
            return $(`input[name="${$(this).attr("name")}"]`).on("input", function () {
                $(`input[name="${$(this).attr("name")}"]`).not(this).val($(this).val());
            });
        };
        $("#buttonLogout").click(function () {
            let dat = {
                "op": 2
            };
            $.ajax({
                type: "POST",
                contentType: "application/json",
                url: "/login",
                dataType: "json",
                data: JSON.stringify(dat),
                success: function (ret) {
                    if (ret["e"])
                        showInfo("登出失败，请稍后再试。");
                    else
                        window.location.replace("/login");
                }
            });
        });
    });
</script>
{% block src %}{% endblock %}
</html>
