{% extends "base.html" %}

{% set curSide = "管理" %}

{% block content %}

    <div class="col-auto py-md-3 bd-content">
        <h2 class="mb-3">管理</h2>
        <div class="row">
            <div class="list-group col-3">
                <a class="list-group-item list-group-item-action active" data-toggle="tab" href="#divUser">用户操作</a>
                <a class="list-group-item list-group-item-action" data-toggle="tab" href="#divTrain">列车操作</a>
            </div>
            <div class="tab-content col-8">
                <div class="tab-pane fade" id="divUser">
                    <form id="formUser">
                        <div class="form-row">
                            <div class="col-md-4 mb-3">
                                <lable>用户名</lable>
                                <input class="form-control" type="text" id="inputUsername" pattern="^[a-zA-Z]\w{0,19}$"
                                       autofocus required>
                            </div>
                            <div class="col-md-4 mb-3">
                                <lable>密码</lable>
                                <input class="form-control" type="password" id="inputPassword" pattern="^\w{6,30}$">
                            </div>
                            <div class="col-md-4 mb-3">
                                <lable>姓名</lable>
                                <input class="form-control" type="text" id="inputName" pattern="^[\u4e00-\u9fa5]{2,5}$">
                            </div>
                            <div class="col-md-4 mb-3">
                                <lable>邮箱</lable>
                                <input class="form-control" type="email" id="inputEmail">
                            </div>
                            <div class="col-md-4 mb-3">
                                <lable>权限</lable>
                                <input class="form-control" type="text" id="inputPrivilege" pattern="^[1-9]\d*$">
                            </div>
                        </div>
                        <div class="float-right">
                            <button class="btn btn-outline-primary ml-2" type="submit" id="buttonQueryProfile">查询
                            </button>
                            <button class="btn btn-outline-primary ml-2" type="submit" id="buttonAddUser">添加</button>
                            <button class="btn btn-outline-primary ml-2" type="submit" id="buttonModifyProfile">修改
                            </button>
                        </div>
                    </form>
                </div>
                <div class="tab-pane fade show active" id="divTrain">
                    <form id="formTrain">
                        <div class="form-row">
                            <div class="col-md-4 mb-3">
                                <lable>车次</lable>
                                <input class="form-control" type="text" id="inputTrainId" required>
                            </div>
                            <div class="col-md-4 mb-3">
                                <lable>类别</lable>
                                <input class="form-control" type="text" id="inputTrainType">
                            </div>
                            <div class="col-md-4 mb-3">
                                <lable>座位数</lable>
                                <input class="form-control" type="text" id="inputSeatNumber">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-11" id="divStations">
                                <div class="form-row">
                                    <div class="form-group col-md-3 mb-3">
                                        <label>始发站</label>
                                        <input class="form-control" type="text" name="inputStation0">
                                    </div>
                                    <div class="form-group col-md-2 mb-3">
                                        <label>出发时间</label>
                                        <div class="input-group">
                                            <input class="form-control" type="text" id="hourDepart0" maxlength="3"
                                                   placeholder="00">
                                            <div class="input-group-prepend input-group-append">
                                                <span class="input-group-text pl-1 pr-1">:</span>
                                            </div>
                                            <input class="form-control" type="text" id="minuteDepart0" maxlength="2"
                                                   placeholder="00">
                                        </div>
                                    </div>
                                    <div class="form-group col-md-2 mb-3">
                                        <label>时长</label>
                                        <div class="input-group">
                                            <input class="form-control" type="text" id="hourDuration0" maxlength="3"
                                                   placeholder="00">
                                            <div class="input-group-prepend input-group-append">
                                                <span class="input-group-text pl-1 pr-1">:</span>
                                            </div>
                                            <input class="form-control" type="text" id="minuteDuration0" maxlength="2"
                                                   placeholder="00">
                                        </div>
                                    </div>
                                    <div class="form-group col-md-2 mb-3">
                                        <label>票价</label>
                                        <div class="input-group">
                                            <input class="form-control" type="text" id="inputPrice0" placeholder="0.00">
                                            <div class="input-group-append">
                                                <span class="input-group-text pl-1 pr-1">￥</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group col-md-3 mb-3 mr-auto">
                                        <label>终点站</label>
                                        <input class="form-control" type="text" name="inputStation1">
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-1 pl-0">
                                <button class="btn btn-outline-secondary mb-3 mr-3"
                                        style="height: min-content;position: absolute;bottom:0;right: 0;display: none"
                                        type="button" id="buttonRemoveStation">
                                    <span class="feather feather-minus"></span>
                                </button>
                            </div>
                        </div>
                        <div class="mb-3">
                            <button class="btn btn-outline-secondary mr-2" type="button" id="buttonAddStation">
                                <span class="feather feather-plus"></span>
                            </button>
                            <div class="float-right">
                                <button class="btn btn-outline-primary ml-2" type="submit" id="buttonQueryTrain">查询
                                </button>
                                <button class="btn btn-outline-primary ml-2" type="submit" id="buttonAddTrain">添加
                                </button>
                                <button class="btn btn-outline-primary ml-2" type="submit" id="buttonDeleteTrain">删除
                                </button>
                                <button class="btn btn-outline-primary ml-2" type="submit" id="buttonReleaseTrain">发布
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block src %}

    <script>
        let operation;

        function addRow() {
            let divStations = $("#divStations"), len = divStations.children().length;
            divStations.append($(
                `<div class="form-row collapse"><div class="form-group col-md-3 mb-3"><label>车站${len}</label>` +
                `<input class="form-control" type="text" name="inputStation${len}" value="${divStations.find(`[name=inputStation${len}]`).val()}"></div>` +
                `<div class="form-group col-md-2 mb-3"><label>出发时间</label><div class="input-group">` +
                `<input class="form-control" type="text" id="hourDepart${len}" maxlength="3" placeholder="00">` +
                `<div class="input-group-prepend input-group-append">` +
                `<span class="input-group-text pl-1 pr-1">:</span></div>` +
                `<input class="form-control" type="text" id="minuteDepart${len}" maxlength="2" placeholder="00">` +
                `</div></div><div class="form-group col-md-2 mb-3"><label>时长</label><div class="input-group">` +
                `<input class="form-control" type="text" id="hourDuration${len}" maxlength="3" placeholder="00">` +
                `<div class="input-group-prepend input-group-append">` +
                `<span class="input-group-text pl-1 pr-1">:</span></div>` +
                `<input class="form-control" type="text" id="minuteDuration${len}" maxlength="2" placeholder="00">` +
                `</div></div><div class="form-group col-md-2 mb-3"><label>票价</label><div class="input-group">` +
                `<input class="form-control" type="text" id="inputPrice${len}" placeholder="0.00">` +
                `<div class="input-group-append"><span class="input-group-text pl-1 pr-1">￥</span></div></div>` +
                `</div><div class="form-group col-md-3 mb-3 mr-auto"><label>终点站</label>` +
                `<input class="form-control" type="text" name="inputStation${len + 1}"></div></div>`));
            divStations.children().last().find("input[name^=inputStation]").inputSync();
            divStations.children().last().collapse("show");
            $("#buttonRemoveStation").show();
        }


        $(function () {
            $("#inputUsername").on("input", function () {
                if (this.validity.patternMismatch)
                    this.setCustomValidity("用户名只能包含数字、字母、下划线，以字母开头，长度小于20。");
                else
                    this.setCustomValidity("");
            });
            $("#inputPassword").on("input", function () {
                if (this.validity.patternMismatch)
                    this.setCustomValidity("密码只能包含数字、字母、下划线，长度在6-30之间。");
                else
                    this.setCustomValidity("");
            });
            $("#inputName").on("input", function () {
                if (this.validity.patternMismatch)
                    this.setCustomValidity("姓名只能为汉字，长度在2-5之间。");
                else
                    this.setCustomValidity("");
            });
            $("#inputEmail").on("input", function () {
                if (this.validity.typeMismatch)
                    this.setCustomValidity("请输入正确的邮件格式。");
                else
                    this.setCustomValidity("");
            });
            $("a[data-toggle='tab']").on("shown.bs.tab", function (e) {
                $(`#${e.target.href.split("#")[1]} input`)[0].focus();
            });
            $("#buttonQueryProfile").click(function () {
                let iptUseless = $("#formUser input").not("#inputUsername");
                iptUseless.prop("required", false);
                operation = 0;
            });
            $("#buttonAddUser").click(function () {
                $("#formUser input").not("#inputUsername").prop("required", true);
                operation = 1;
            });
            $("#buttonModifyProfile").click(function () {
                $("#formUser input").not("#inputUsername").prop("required", false);
                operation = 2;
            });
            $("#formUser").submit(function (e) {
                e.preventDefault();
                e.stopPropagation();
                let iptUsername = $("#inputUsername"),
                    iptPassword = $("#inputPassword"),
                    iptName = $("#inputName"),
                    iptEmail = $("#inputEmail"),
                    iptPrivilege = $("#inputPrivilege");
                let dat = {
                    "op": operation,
                    "username": iptUsername.val(),
                    "password": iptPassword.val(),
                    "name": iptName.val(),
                    "email": iptEmail.val(),
                    "privilege": iptPrivilege.val()
                };
                if (operation !== 0 && operation !== 1 && operation !== 2) {
                    showInfo("操作号错误。");
                    return;
                }
                $.ajax({
                    type: "POST",
                    contentType: "application/json",
                    url: "/manage",
                    dataType: "json",
                    data: JSON.stringify(dat),
                    success: function (ret) {
                        switch (dat["op"]) {
                            case 0:
                                if (ret["e"]) {
                                    showInfo("查询用户信息失败。");
                                    return;
                                } else {
                                    showInfo("查询用户信息成功。");
                                    let info = ret["info"].split(" ");
                                    iptUsername.val(info[0]);
                                    iptName.val(info[1]);
                                    iptEmail.val(info[2]);
                                    iptPrivilege.val(info[3]);
                                    break;
                                }
                            case 1:
                                showInfo(`添加用户信息${ret["e"] ? "失败" : "成功"}。`);
                                break;
                            case 2:
                                if (ret["e"]) {
                                    showInfo("修改用户信息失败。");
                                    return;
                                } else {
                                    showInfo("修改用户信息成功。");
                                    let info = ret["info"].split(" ");
                                    iptUsername.val(info[0]);
                                    iptName.val(info[1]);
                                    iptEmail.val(info[2]);
                                    iptPrivilege.val(info[3]);
                                    break;
                                }
                        }
                    }
                });
                return false;
            });

            $("input[id^='hour'],input[id^='minute']").inputFilter(function (str) {
                return str.length === 0 || /^[1-9]\d*$/.test(str);
            });
            $("input[name^='inputStation']").inputSync();
            $("#buttonAddStation").click(function () {
                let rows = $("#divStations").children();
                rows.last().find("label:last").html(`车站${rows.length}`);
                addRow();
                $("#buttonRemoveStation").show();
            });
            $("#buttonRemoveStation").click(function () {
                let divStations = $("#divStations");
                divStations.children().last().collapse("hide");
                divStations.children().last().on("hidden.bs.collapse", function () {
                    if (divStations.children().length === 1)
                        return;
                    $(this).remove();
                    $(this).find("label:last").html(`终点站`);
                    if (divStations.children().length === 1)
                        $("#buttonRemoveStation").hide();
                });
            });
            $("#buttonQueryTrain").click(function () {
                $("").prop()
            });
        });
    </script>

{% endblock %}