{% extends "base.html" %}
{% block head %}
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row pt-3">
            <div class="col col-sm-auto mb-3">
                <div class="mx-auto" style="width: 90px;">
                    <div class="d-flex justify-content-center align-items-center"
                         style="height: 90px">
                        <img class="w-100 h-100 rounded-circle" src="" alt="avatar" data-letter="人">
                    </div>
                </div>
            </div>
            <div class="col d-flex flex-column flex-md-row justify-content-between mb-3 pl-0">
                <div class="text-center text-sm-left mb-2 mb-sm-0">
                    <h4 class="pt-sm-2 pb-1 mb-0 text-nowrap">孙晨曦</h4>
                    <p class="mb-0">@Pioooooo</p>
                    <div class="text-muted"><small>bowen.sun@qq.com</small></div>
                </div>
                <div class="text-center text-sm-right">
                    <span class="badge badge-secondary">Privilege:3</span>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block src %}
    <script src="{{ url_for("static",filename="js/seedrandom.min.js") }}"></script>
    <script>
        Math.seedrandom("{{ session["username"] }}");
        $("img[data-letter]").each(function (k, e) {
            let canvas = $("<canvas></canvas>")[0];
            let context = canvas.getContext("2d");
            let size = $(e).prop("width") || 60;
            canvas.width = size;
            canvas.height = size;
            context.font = Math.round(canvas.width / 2) + "px Arial";
            context.textAlign = "center";
            context.fillStyle = "#" + (Math.random() * 0xFFFFFF << 0).toString(16);
            context.fillRect(0, 0, canvas.width, canvas.height);
            context.fillStyle = "#FFF";
            context.fillText($(e).attr("data-letter"), size / 2, size / 1.5);
            e.src = canvas.toDataURL();
            $(e).removeAttr('data-letter');
        });
    </script>
{% endblock %}